@model Comp229Assignment2.Models.Dessert
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div style="margin-top: 165px;">
    <h2>Dessert Details</h2>
    <div>
        <h4>Dessert</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DessertName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DessertName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DessertLongDesc)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DessertLongDesc)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DessertPrice)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DessertPrice)
            </dd>
            <dd>
                <img src="@Url.Content(Model.DessertImage)" class="img-rounded detailsimages" />
            </dd>
        </dl>
    </div>
    <p>
        @if (HttpContext.Current.User.IsInRole("Admin"))
            {
            @Html.ActionLink("Back to List", "Admin")
        }
        else
        {
            @Html.ActionLink("Back to List", "Index")
        }
    </p>
    </divstyle="margin-top:>

